@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "wbficonregular";
  src: url('wbficon.woff');
}
@font-face {
  font-family: "WB";
  src: url('swbficon.woff');
}
@font-face {
  font-family: "unlogininhome";
  src: url('unlogficon.woff');
}
body {
  background-color: #99d6f3;
  font: 12px/1.3 'Arial', 'Microsoft YaHei';
}
.header {
  border-top: 2px solid #fa7d3c;
  height: 48px;
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.header_content {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  *zoom: 1;
}
.header_content:before,
.header_content:after {
  display: table;
  content: "";
}
.header_content:after {
  clear: both;
}
.header_content .logo {
  height: 27px;
  width: 80px;
  background: url(../img/WB_logo.png) left top no-repeat;
  float: left;
  display: inline;
  margin: 8px 30px 13px 0;
}
.header_content .logo a {
  display: block;
  height: 100%;
  text-indent: -99em;
}
.header_content .search {
  float: left;
  display: inline;
  width: 568px;
  height: 28px;
  border: solid 1px #ccc;
  background-color: #f2f2f5;
  margin: 9px 0;
}
.header_content .search_input {
  width: 530px -16px;
  float: left;
  display: inline;
  height: 28px;
  line-height: 28px /9;
  padding: 0 8px;
  color: #9a9a9b;
}
.header_content .search_btn {
  width: 17px;
  height: 16px;
  font-family: "wbficonregular" !important;
  display: inline-block;
  margin-top: 5.5px;
  margin-right: 10px;
  float: right;
  display: inline;
}
.header_content .headernav {
  float: right;
  display: inline;
  height: 22px;
  margin: 13px 0;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 13px;
}
.header_content .headernav li {
  float: left;
  display: inline;
  margin-right: 29px;
}
.header_content .headernav a {
  height: 22px;
  line-height: 22px;
  display: inline-block;
  color: #696e78;
}
.header_content .headernav a:hover {
  color: #fa7d3c;
}
.header_content .headernav a span {
  font-family: "wbficonregular" !important;
  display: inline-block;
  font-size: 23px;
  padding-right: 5px;
}
.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7fc3e2;
  padding-top: 65px;
  *zoom: 1;
}
.main:before,
.main:after {
  display: table;
  content: "";
}
.main:after {
  clear: both;
}
.leftArea {
  width: 750px;
  float: left;
  display: inline;
}
.rightArea {
  width: 230px;
  float: right;
  display: inline;
  margin-right: 10px;
}
.leftArea_cont {
  width: 150px;
  height: 100%;
  position: fixed;
}
.leftCont {
  width: 600px;
  float: right;
  display: inline;
}
.nav {
  font-size: 12px;
  font-family: "Microsoft Yahei", "微软雅黑";
  line-height: 34px;
}
.nav a {
  color: #fff;
  height: 34px;
  display: block;
  padding-left: 15px;
}
.nav a:hover {
  background-color: #98cee7;
}
.nav a span {
  font-family: "wbficonregular" !important;
  display: inline-block;
  margin-right: 5px;
}
.nav .span_box {
  padding-left: 0;
  font-size: 14px;
  margin-top: -16px;
  float: right;
  display: inline;
}
.nav_line {
  height: 1px;
  background-color: #98cee7;
  margin: 12px;
}
.nav .strong_font {
  font-weight: bold;
  font-size: 13px;
}
.releaseBox {
  height: 150px;
  padding-top: 15px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.releaseBox .release_top {
  padding: 0 12px;
  *zoom: 1;
  margin-bottom: 8px;
}
.releaseBox .release_top:before,
.releaseBox .release_top:after {
  display: table;
  content: "";
}
.releaseBox .release_top:after {
  clear: both;
}
.releaseBox .release_top .release_text {
  color: #32a2d5;
  height: 21px;
  font-size: 18px;
  letter-spacing: -2px;
  font-family: "WB" !important;
  font-weight: bold;
  float: left;
  display: inline;
}
.releaseBox .release_links {
  float: right;
  display: inline;
  height: 18px;
  line-height: 18px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .release_links a {
  color: #32a2d5;
}
.releaseBox .release_links a:hover {
  text-decoration: underline;
}
.releaseBox .release_area {
  height: 78px;
  border: 1px solid #ccc;
  margin: 0 10px;
  margin-bottom: 5px;
}
.releaseBox .release_area textarea {
  width: 100%;
  height: 78px;
  line-height: 20px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .releasa_select {
  height: 19px;
  margin-top: 7px;
  padding: 0 10px;
}
.releaseBox .releasa_texts {
  float: left;
  display: inline;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .releasa_texts li {
  float: left;
  display: inline;
  padding-right: 15px;
}
.releaseBox .releasa_texts a {
  height: 19px;
  line-height: 19px;
  color: #333333;
}
.releaseBox .releasa_texts a:hover {
  color: #fa7d3c;
}
.releaseBox .releasa_texts a span {
  font-family: "wbficonregular" !important;
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
}
.releaseBox .releasa_texts a .sp1 {
  color: #ffa405;
}
.releaseBox .releasa_texts a .sp2 {
  color: #84c002;
}
.releaseBox .releasa_texts a .sp4 {
  color: #4579d8;
}
.releaseBox .releasa_texts a .sp6 {
  color: #333333;
}
.releaseBox .release_btns {
  float: right;
  display: inline;
}
.releaseBox .release_btns select {
  width: 50px;
}
.releaseBox .u_release_btn {
  width: 82px;
  height: 30px;
  background-color: #ffc09f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 14px;
}
.releaseBox .u_btn_action {
  background-color: #ff8140;
}
.nav2 {
  margin-top: 10px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.nav2 li {
  padding: 12px 0;
  float: left;
  display: inline;
}
.nav2 li span {
  padding-left: 16px;
  padding-right: 15px;
  font-size: 12px;
}
.showList {
  margin-top: 10px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.showList .item .item_cont {
  padding: 20px 20px 4px;
  *zoom: 1;
}
.showList .item .item_cont:before,
.showList .item .item_cont:after {
  display: table;
  content: "";
}
.showList .item .item_cont:after {
  clear: both;
}
.showList .item .item_cont dt {
  width: 50px;
  height: 50px;
  float: left;
  display: inline;
}
.showList .item .item_cont dt a img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.showList .item .item_cont dd {
  padding-left: 60px;
}
.showList .item .item_cont dd .item_userName {
  font-size: 14px;
  margin-bottom: 7px;
}
.showList .item .item_cont dd .item_userName .v {
  background-image: url(../img/v.png);
  width: 16px;
  height: 16px;
  display: inline-block;
}
.showList .item .item_cont dd .item_userName .item_content {
  padding-top: 10px;
  font-size: 14px;
}
.showList .item .item_content {
  margin-bottom: 2px;
  padding-bottom: 0;
  line-height: 23px;
  word-wrap: break-word;
  font-size: 14px;
}
.showList .item .item_opertion {
  *zoom: 1;
  height: 22px;
  padding: 8px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}
.showList .item .item_opertion:before,
.showList .item .item_opertion:after {
  display: table;
  content: "";
}
.showList .item .item_opertion:after {
  clear: both;
}
.showList .item .item_opertion li {
  float: left;
  display: inline;
  width: 25%;
  height: 100%;
  border-right: 1px solid #ccc;
  margin-right: -1px;
}
.showList .item .item_opertion a {
  color: #333333;
}
.showList .item .item_opertion a span {
  font-family: "wbficonregular" !important;
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
}
.showList .item .item_opertion a:hover {
  color: #333333;
}
.userCard {
  height: 165px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
.userCard .userCardBg {
  background-color: #fa7d3c;
  height: 70px;
}
.userHead {
  height: 93px;
  margin-top: -42px;
  text-align: center;
  font-family: "Microsoft Yahei", "微软雅黑";
}
.userHead img {
  height: 58px;
  width: 58px;
  vertical-align: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #ccc;
}
.userHead h3 {
  font-size: 14px;
}
.userLinks {
  height: 33px;
  *zoom: 1;
  width: 195px;
  margin-left: auto;
  margin-right: auto;
}
.userLinks:before,
.userLinks:after {
  display: table;
  content: "";
}
.userLinks:after {
  clear: both;
}
.userLinks li {
  float: left;
  display: inline;
  width: 65px;
  border-right: 1px solid #ccc;
  margin-right: -1px;
  height: 33px;
  text-align: center;
  font-size: 12px;
}
.userLinks .last {
  border-right: none;
}
.userLinks a {
  color: #333333;
}
.userLinks strong {
  display: inline-block;
  width: 65px;
  font-size: 16px;
  font-family: "Arial";
}
.login_bot {
  *zoom: 1;
}
.login_bot:before,
.login_bot:after {
  display: table;
  content: "";
}
.login_bot:after {
  clear: both;
}
.login_bot .login_ios,
.login_bot .login_andrio {
  float: left;
  display: inline;
  width: 92px;
  padding: 14px 0;
  margin: 0 10px;
}
.login_bot .login_ios .icon_box,
.login_bot .login_andrio .icon_box {
  font-family: "unlogininhome" !important;
  font-size: 30px;
  float: left;
  display: inline;
  color: #eb7350;
}
.login_bot .login_ios .icon_txt,
.login_bot .login_andrio .icon_txt {
  display: inline-block;
  height: 32px;
  line-height: 16px;
  color: #808080;
  text-decoration: none;
}
.DSC_text {
  *zoom: 1;
}
.DSC_text:before,
.DSC_text:after {
  display: table;
  content: "";
}
.DSC_text:after {
  clear: both;
}
.DSC_text .obj_name {
  height: 38px;
  padding: 0 16px;
  line-height: 38px;
  overflow: hidden;
  color: #333;
  border-bottom: 1px solid #f2f2f5;
}
.DSC_text .obj_name h2 {
  line-height: 38px;
  font-size: 14px;
}
.DSC_text .WB_innerwrap {
  padding: 16px;
}
.DSC_text .WB_innerwrap .list_wrap {
  *zoom: 1;
  margin-bottom: 5px;
}
.DSC_text .WB_innerwrap .list_wrap:before,
.DSC_text .WB_innerwrap .list_wrap:after {
  display: table;
  content: "";
}
.DSC_text .WB_innerwrap .list_wrap:after {
  clear: both;
}
.DSC_text .WB_innerwrap .list_wrap .text_title {
  margin-bottom: 8px;
}
.DSC_text .WB_innerwrap ul li {
  width: 95px;
  display: inline-block;
  float: left;
  height: 26px;
  overflow: hidden;
  padding: 0;
}
.DSC_text .WB_innerwrap ul li i {
  margin: 5px 5px 0 0;
}
.DSC_text .WB_innerwrap ul li i img {
  height: 14px;
  width: 14px;
}
.DSC_text .WB_innerwrap ul li span {
  padding: 0;
  color: #333;
}
.DSC_text .WB_innerwrap ul li span:hover {
  color: #eb7350;
}
