@charset "utf-8";
/* CSS Document */
body{
	background-color:#34383c;
	}
.login_box{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-100px;
	background-color:#1c1e20;
	width:300px;
	height:100px;
	padding-left:18px;
	border-radius:5px 5px 5px 5px;
	}
input{
	color:#aaa;
	background-color:#1c1e20;
	font-size:15px;
	border:none;
	padding-bottom:15px;
	padding-top:17px;
	font-weight:bold;
	outline:medium;
	}
hr{
	margin:0;
	padding:0;
	background-color:#34383c;
	height:2px;
	border:none;
	}
.round{
	width:52px;
	height:52px;
	border-radius:26px 26px 26px 26px;
	overflow:hidden;
	position:absolute;
	right:-26px;
	top:24px;
	background-color:#34383c;
	}
.round2{
	width:40px;
	height:40px;
	border-radius:20px 20px 20px 20px;
	overflow:hidden;	
	background-color:#1c1e20;
	position:absolute;
	left:6px;
	top:6px;
	border:0;
	outline:none;
	}
.triangle{    
	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #34383c;
    border-bottom: 10px solid transparent;
    display: inline-block;
	position:absolute;
	left:17px;
	top:10px;
	
	}